---
slideshow_width: 700px
slideshow_height: 400px
---

.slideshow {display: inline-flex;
            position: relative;
            width:{{ page.slideshow_width }};
            height:{{page.slideshow_height }};}

.slide{position:absolute;
       width:{{ page.slideshow_width}};
       height:{{page.slideshow_height}};}
       
.main{width: 1000px;
      height: auto; 
      margin: 0 auto;}
      
#project_content{width:70%;
                 float:left;}
                 
#project_quickref{width:22%;
                  background:#AAAAFF;
                  padding:2% 2% 2% 2%;
                  float:left;}
                
#project_quickref ul {margin-left:1em;}
