        <div id="footer">
            <p>
                <a href="https://www-s.acm.uiuc.edu/cgi-bin/mailman/listinfo/siggraph-l" alt='Mailing List'><img src="{{site.url}}/images/email.png" alt='Join the Mailing List' height="32"/> JOIN THE MAILING LIST</a>
                <a class='shift' href="http://www.twitter.com/uiucsiggraph">FOLLOW US ON</a><a href="http://www.twitter.com/uiucsiggraph" alt='Twitter'><img class='right' src="{{site.url}}/images/twitter.png" alt='Join the Mailing List'/></a>
        <a class='shift' href="http://www.facebook.com/uiucacmsiggraph">LIKE US ON</a><a href="http://www.facebook.com/uiucacmsiggraph" alt='Facebook'><img class='right' src="{{site.url}}/images/facebook.png" alt='Facebook'/></a>
                <a class='medshift' href="http://www.illinois.edu"><img class='right' src="{{site.url}}/images/uiuc.png" alt='University of Illinois' height="32"/></a>
                <a class='shortshift' href="http://www.acm.uiuc.edu/"><img class='right' src="{{site.url}}/images/acm.png" alt='ACM' height="32"/></a>
            </p>
            <p class="right"><span class='left'>TM &amp; &copy;2013&nbsp;</span>UIUC ACM SIGGRAPH. All rights reserved.</p>
        </div>
    </body>
</html>