<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{site.url}}/css/main.css" type="{{site.url}}/text/css" media="screen" />
    <link rel="stylesheet" href="{{site.url}}/css/new_main.css" type="{{site.url}}/text/css" media="screen" />
    <script src="js/jquery.js"></script>
</head>

<body>
    <div id="header">
        <span><a href="./"><img src="{{site.url}}/images/logo.png" alt="SigGraph"/></a></span>
        <ul id="menu">
            <li><a href="{{site.url}}/index.html" class='red'>home</a></li>
            <li><a href="{{site.url}}/projects.html" class='orange'>projects</a></li>
            <li><a href="{{site.url}}/events.html" class='yellow'>events</a></li>
            <li><a href="{{site.url}}/news.html" class='green'>news</a></li>
            <li><a href="{{site.url}}/members.html" class='lblue'>members</a></li>
            <li><a href="{{site.url}}/about.html" class='dblue'>about</a></li>
            <li><a href="{{site.url}}/contact.html" class='purple'>contact</a></li>
        </ul>
    </div>