<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
</head>

<body>
    <div id="header">
        <span><a href="./"><img src="images/logo.png" alt="SigGraph"/></a></span>
        <ul id="menu">
            <li><a href="./" class='red'>home</a></li>
            <li><a href="projects.html" class='orange'>projects</a></li>
            <li><a href="events.html" class='yellow'>events</a></li>
            <li><a href="news.html" class='green'>news</a></li>
            <li><a href="members.html" class='lblue'>members</a></li>
            <li><a href="about.html" class='dblue'>about</a></li>
            <li><a href="contact.html" class='purple'>contact</a></li>
        </ul>
    </div>